<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resources Reservation System</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NYU OST</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Resources Reservation System</h1>
            <p>Welcome, {{ user_email }} !</p> 
            <p>This is a place to list and reserve resources.</p>
        {% if user  %}
            <p>
                <a class="btn btn-primary btn-large" href="{{ url|safe }}">{{ url_linktext }}</a>
            </p>
        {% else %}
            <p>
                <a class="btn btn-primary btn-large" href="{{ url|safe }}">{{ url_linktext }}</a>
                Login to view, create or reserve resource.
            </p>
        {% endif %}
        </header>                

        {% if user  %}
        <!-- Page Features -->
        <div class="col-md-3">
            <div class="well">
                <h4>Resource Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <div style="margin:10px;">
                <a class="btn btn-primary" href="createResource">Add New Resource</a><br>
            </div>
            <!-- Resource Tags -->
            <div style="padding: 25px;">
                <h4>Tags</h4>
                {% for t in all_tags %}
                    <a href="/tag?tag={{t}}" class="post-tag">{{t}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Display Resources -->
        <div class="col-md-9">
            <!-- Tabs Navigation -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">All Resources Available</a></li>
                <li><a href="#tab2" data-toggle="tab">Your Resources</a></li>
                <li><a href="#tab3" data-toggle="tab">Your Coming Reservations</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name </th>
                            <th>Date</th>
                            <th>Time(0-24)</th>
                            <th>Tags</th>
                            <th>RSS</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for r in all_resources %}
                            <tr>
                                <td><a href="/resource?resource_id={{ r.key.id() }}">{{ r.resource_name }}</a></td>
                                <td>{{ r.avail_date }}</td>
                                <td>{{ r.start_time}} - {{ r.end_time }}</td>
                                <td>
                                    {% for t in r.tags %}
                                        <a href="/tag?tag={{t}}" class="post-tag">{{t}}</a>
                                    {% endfor %}
                                </td>
                                <td><a href="/" class="btn btn-info">RSS</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End of all resources -->

                <div class="tab-pane" id="tab2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Date</th>
                                <th>Time(0-24)</th>
                                <th>Tags</th>
                                <th>RSS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in user_resources %}
                            <tr>
                                <td><a href="/resource?resource_id={{ r.key.id() }}">{{ r.resource_name }}</a></td>
                                <td>{{ r.avail_date }}</td>
                                <td>{{ r.start_time}} - {{ r.end_time }}</td>
                                <td>
                                    {% for t in r.tags %}
                                        <a href="/tag?tag={{t}}" class="post-tag">{{t}}</a>
                                    {% endfor %}
                                </td>
                                <td><a href="/" class="btn btn-info">RSS</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End of your resources -->
                <div class="tab-pane" id="tab3">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Resource</th>
                            <th>Booked By</th>
                            <th>Date</th>
                            <th>Time(0-24)</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for r in user_reservations %}
                            <tr>
                                <td><a href="/resource?resource_id={{ r.resource_id }}">{{ r.resource_name }}</a></td>
                                <td>{{ r.book_person }}</td>
                                <td>{{ r.avail_date }}</td>
                                <td>{{ r.start_time }} - {{ r.end_time }}</td>
                                <td><a class="btn btn-danger" href="/deleteReserv?reser_id={{ r.key.id() }}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- End of your reservations -->

            </div> <!-- End of tab-content -->
        </div> 
        <!-- End of Resources -->
        {% endif %}


        <!-- Footer -->
        <footer>
            <div class="row text-center">
                <div class="col-lg-12" style="margin:25px;">
                    <p>Copyright &copy; Jiacheng Liao 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="stylesheets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="stylesheets/js/bootstrap.min.js"></script>

</body>

</html>
{% endautoescape %}